*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
logs
results

npm-debug.log
node_modules
.idea/

# dotenv environment variables file
.env

lib
index.js

# eslint files
.eslintignore
.eslintrc.js

# Coverage directory used by tools like istanbul
coverage
